.table-posts {
  margin-top: 15px;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    tbody {
      .table-posts__id_body {
        text-align: center;
      }

      td {
        height: 86px;
        border: 1px solid #e3e6ec;
        color: #474955;
        font-weight: 500;
        font-size: 13px;
        padding-left: 8px;
      }
    }
  }
}
